<% provide(:title, 'About') %>
<div class="jumbotron">
  <h1>Created to</h1>
   <ul>
     <li>Make your links clear and shorter;</li>
     <li>Extend and explain it;</li>
     <li>Or make unknown.</li>
   </ul>
  <p>
    And finally get information about clicks:
  </p>
  <ul>
    <li>Click dynamics;</li>
    <li>IP-addresses of your audience;</li>
    <li>Browsers and platforms.</li>
  </ul>
  <p>
    Thank you.
  </p>
</div>