<% provide(:title, 'About') %>
<div class="jumbotron">
  <h1>Application info</h1>
  <p>This application was made to cut links and pick up statistics about people who click this link.</p>
  <p>When you will sign in, you will take ability to make private link-cuts, but if privacy is not
  important fot you, you can cut public links.</p>
  <p>Good luck!</p>
</div>