<% provide(:title, 'Contact') %>
<div class = "jumbotron">
  <p>
    This application was created for self-education. First day of developing it author has not the idea about web-development, Ruby On Rails, JavaScript, jQuery, AJAX, DOM, CoffeeScript, HTML, CSS, SASS, Bootstrap, HTTP, REST, MVC, OOP, Heroku, PostgreSQL and English language. As even now.
  </p>
  <div class= "contact">
   <%= image_tag("gh_logo.png", size: "70x70") %>
   <p class = "refer">
     Repository of application: <a href="https://github.com/GeorgeGorbanev/CutCutCut">github.com/GeorgeGorbanev/CutCutCut</a>
   </p>
  </div>
  <div class= "contact">
    <%= image_tag("gm_logo.png", size: "70x70") %>
    <p class = "refer">
      Author email: <a>GeorgeGorbanev@gmail.com</a>
    </p>
  </div>
</div>
