<% provide(:title, '') %>
<script>new Clipboard('.btn-clipboard'); </script>
<div class="linkbox">
 <%= form_tag(links_path + '/new?type=random_public', id: "new_link", method: "get", remote: true) do %>
   <%= label_tag(:input_link, "Link: ") %>
   <%= text_field_tag(:input_link) %>
      <%= submit_tag("Cut", class: "btn", id: "anon_cut_submit") %>
 <% end %>
 <span id ="result_new_link"></span>
</div>