<% provide(:title, "Sign up") %>
<div class="signup">
  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign up</h2>
    <input type="name" class="form-control" placeholder="User name" required autofocus>
    <input type="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>
    <input type="password" class="form-control" placeholder="Repeat password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>

