<% provide(:title, 'Private tools') %>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="public">Public</a></li>
  <li role="presentation" class="active"><a>Private</a></li>
</ul>
<div class = "tools-area">
</div>