@import "bootstrap";

// header bar
.nav-center{
  margin: 0 auto;
  width: 50%;
}

.nav-right-part{
  float: right;
}

.logo{
  float: left;
  padding: 5px;
  padding-left: 0px;
}

.dropdown-menu{
  width: 70%;
}


// footer
footer {
  padding-top: 5px;
  border-top: 3px solid #eaeaea;
  color: $gray-light;
  .footer-center{
    width: 50%;
    margin: 0 auto;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

// home

.content-area{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  display: block;
}



