@import "bootstrap";

// header bar
.nav-center{
  margin: 0 auto;
  width: 70%;
}

.nav-right-part{
  float: right;
}

.logo{
  float: left;
  padding: 5px;
  padding-left: 0px;
}

.dropdown-menu{
  width: 70%;
}


// footer
footer {
  margin-top: 0%;
  padding-top: 5px;
  border-top: 3px solid #eaeaea;
  color: $gray-light;
  .footer-center{
    width: 70%;
    margin: 0 auto;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

// home

.content-area{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  position: relative;
  display: block;
}

.sign{
  width: 350px;
  height: 290px;
  background-color: #DDDDDD;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 20%;
  padding-top: 5px;
  .signup{
    height: 290px;
  }
  .signin{
    height: 690px;
  }
  form{
    margin: 5px auto;
    width: 250px;
  }
  .form-control{
    margin-top: 10px;
  }
  .btn-lg{
    width: 220px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.alertsign{
  margin: 0 auto;
  width: 350px;
  height: auto;
  border-color: #B00100;
  background-color: #e9854b;
  font-size: 12px;
  color: red;
  width: 250px;
  h2{
    font-size: 15px;
  }
}



