// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tools-area{
  padding: 20px;
  background-color: white;
  color: #555555;
  .searchfield{
    width: 55%;
  }
  h1{
    padding-left: 20px;
    text-align: left;
    font: 16pt Helvetica;
  }
  h2{
    padding-left: 20px;
    text-align: left;
    font: 12pt Helvetica;
  }
  p{
    text-align: left;
    padding: 25px;
    padding-bottom: 5px;
    font: 14pt Helvetica;
  }
  .radiobtn{
    font-size: 12pt;
  }
}

table{
  border-color: #DDDDDD;
  width: 95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-top: 20px;
  th{
    text-align: left;
    padding-left: 10px;
  }
  tr{
    height: 30px;
  }
  td{
    padding-left: 10px;
    text-align: left;
    border-left: 2px;
  }
}
.pagenav {
  margin-top: 15px;
  font-size: 13pt;
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
  .page-num {
    text-align: center;
    display: inline;
    list-style-type: none;
    li {
      display: inline;
    }
  }
}
.even{
  background: #DDDDDD;
}
.uneven{
  background:  #EEEEEE;
}

.link-info{
  padding-left: 10%;
  text-align: left;
  .chart-columns {
    margin-bottom: 220px;
    .half-wide-left {
      width: 45%;
      float: left;
    }
    .half-wide-right {
      width: 45%;
      float: right;
    }
  }
  h1{
    font-size: 22pt;
  }
  h2{
     font-size: 18pt;
   }

}