<footer class="footer">
  <div class = "footer-center">
  <small>
    Important info here
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", "/contact"%></li>
    </ul>
  </nav>
  </div>
</footer>