<footer class="footer">
  <div class = "footer-center">
  <small>
    Important info here
  </small>
  <nav>
    <ul>
      <li> <a href ="../contact">Contact</a></li>
    </ul>
  </nav>
  </div>
</footer>