<header>
  <div class = "nav-center">
     <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="logo" href="/"><%= image_tag("Scissors.png", size: "40x40") %> </a>
          <a class="navbar-brand" href="/">Cut! Cut! Cut!</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <div class = "nav-right-part">
           <ul class="nav navbar-nav">
             <li><a href="#">Tools</a></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign<b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/sign/signin">Sign in</a></li>
                 <li><a href="/sign/signup">Sign up</a></li>
               </ul>
             </li>
           </ul>
          </div>
        </div>
      </div>
    </nav>
    </div>
</header>
