<header>
  <div class = "nav-center">
  <div class="navbar">
    <div class="navbar-inner">
      <%= image_tag("Scissors.png", size: "40x40") %>
      <a class="brand" href="#">Cut! Cut! Cut!</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class ="nav-right-part">
      <ul class="nav">
        <li><a href="#">Tools</a></li>
        <li><a href="#">Sign</a></li>
      </ul>
      </div>
    </div>
  </div>
    </div>
</header>